*{
    font-family: 'Raleway', sans-serif;
    font-size:larger;
    transition: all 0.5s;
}
html{
    position: relative;
    min-height: 100%; 
}
h1{
    color: #003566;
    margin-top: 20px;
    width: 100%;
}
h2{
    color: #023e8a;
    text-align: center;
    margin-top: 20px;
}
body{
    width: 100vh;
    margin-bottom: 20px;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.overlay{
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: .3s ease all ;
    z-index: 1;
}
.overlay.active{
    visibility: visible;
}
.popup{
    background: #f5f5f5;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1); 
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    font-size: 20px;
    transition: 0.3 ease all;
    opacity: 0;
    transform: scale(0.5);
}
#imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.popup.active{
    opacity: 1;
    transform: scale(1);    
}
#cerrarpopup{
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;  
    border: none;
    color: white;
    width: 150px;
    background-color: #45c1e7;
    box-shadow: 4px 4px #999;
    font-size: larger;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#cerrarpopup:active
{
    background-color: #43b2ce;
    box-shadow: 0px 0px rgb(231, 228, 228);
    transform: translateY(4px);
}
.iniciar{
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;  
    border: none;
    color: white;
    width: 150px;
    background-color: #d62828;
    box-shadow: 0px 9px #999;
    font-size: larger;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.iniciar.on{
    background-color: #2ee43d;
}
.iniciar:active {
    background-color: #ce6767;
    box-shadow: 0px 5px rgb(231, 228, 228);
    transform: translateY(4px);
  }
.parametros{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 80%;
}
.radio{ 
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
select{
    border-radius: 10px;
    height: 40px;
}
.footer{
    position: absolute;
    background: #e4f5ec;  
    color:black;         
    padding: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0;
    right:0;
    align-items: center;
}
.line{
    width: 90%;
    margin: 0 auto;
    height: 2px;
    background: rgb(24, 23, 23);
    text-align: center;
}
img{
    margin: 10px;
    height:auto;
    width:100px;
}
.contenedor{  
    background-color: #e4f5ec;  
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left; 
    font-size: 16px;
  }

.icons{
    width: 50%;
    display: flex;
    justify-content: flex-end;  
  }
.contenedor .copy{
    display: block;
    text-align: center;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
}
@media screen and (max-width: 700px) {
    h1,h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.4rem;
    }
    body{
        font-size: 1.5rem;
    }
    .parametros{
        width: 95%;
    }
    .radio{
        width: 200px;
    }
    select{
        border-radius: 10px;
        height: 60px;
    }
    .contenedor{
        justify-content: center;
        font-size: 18px;
        text-align: center;
        padding-bottom: 80px;
        width: 100vh;
    }
    .popup{
        font-size: 30px;
    }
    .icons{
        width: 100%;
        justify-content: center;
    }
    .line{
        margin-top: 20px;
    }
    
}